@model SignUpViewModel 

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
@* 		<div asp-validation-summary="All" class="text-danger"></div>
 *@		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<form asp-action="SignUp" >

			<input class="text email" type="email" asp-for="@Model.Email" name="email" placeholder="Email" required="">
			<span asp-validation-for="@Model.Email"  class="text-danger"/>
			<input class="text" type="password" asp-for="@Model.Password" name="password" placeholder="Password" required="">
			<span asp-validation-for="@Model.Password" class="text-danger" />

			<input class="text w3lpass" type="password" asp-for="@Model.ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required="">

			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="IsActive" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>

			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-action="LogIn"> Login Now!</a></p>
	</div>
</div>
@section Scripts {

	<partial name="_ValidationScriptsPartial" />
}
